<template>
    <aside :class="{ offcanvas__open: isOpen }">
        <div ref="offcanvas" class="offcanvas">
            <ul class="nav nav__primary light">
                <li v-for="(item, i) in menu" :key="i">
                    <nuxt-link :to="item.path" class="nav__item">{{
                        item.name
                    }}</nuxt-link>
                </li>
            </ul>
        </div>
        <div class="offcanvas__overlay" @click.prevent="toggle"></div>
    </aside>
</template>

<script>
export default {
    name: 'AppOffcanvas',

    props: { menu: { type: Array, default: () => [] } },
    data() {
        return {
            isOpen: false,
            body: null,
            html: null
        }
    },
    watch: {
        $route() {
            if (this.isOpen) this.close()
        }
    },
    created() {
        this.$root.$on('offcanvas-toggle', this.toggle)
    },
    mounted() {
        this.init()
    },
    methods: {
        toggle() {
            // Toggle variable
            this.isOpen = !this.isOpen
            this.isOpen ? this.open() : this.close()
        },
        open() {
            this.isOpen = true
            this.body.classList.add('offcanvas__animation')

            this.$disableBodyScroll(this.$refs.offcanvas)
        },
        close() {
            this.isOpen = false
            this.body.classList.remove('offcanvas__animation')
            this.$clearAllBodyScrollLocks()
        },
        init() {
            this.body = document.querySelector('body')
        }
    }
}
</script>

<style lang="css">
/* Variables */
:root {
    --offcanvas-background: var(--global-background-secondary);
    --offcanvas-width: 200px;
    --offcanvas-padding: var(--global-padding);
}

/* Body */
.offcanvas {
    position: fixed;
    top: 0;
    bottom: 0;
    right: calc((var(--offcanvas-width) + var(--offcanvas-padding) * 2) * -1);
    width: var(--offcanvas-width);
    background-color: var(--offcanvas-background);
    padding: var(--offcanvas-padding);
    overflow-y: scroll;
    transition: right 0.3s ease;
    z-index: 1000;
    -webkit-overflow-scrolling: touch;
}

.offcanvas__open .offcanvas {
    right: 0;
}

/* Overlay */
.offcanvas__overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    background-color: var(--offcanvas-background);
    transition: opacity 0.3s ease;
    z-index: 999;
}

.offcanvas__open .offcanvas__overlay {
    opacity: 0.5;
    left: 0;
}

/* Wrappers */
.offcanvas__animation {
    right: calc(var(--offcanvas-width) + var(--offcanvas-padding) * 2);
}
</style>
