/* Min */
@custom-media --xs-min (min-width: 414px);
@custom-media --s-min (min-width: 768px);
@custom-media --m-min (min-width: 1024px);
@custom-media --l-min (min-width: 1280px);
@custom-media --xl-min (min-width: 1366px);
@custom-media --xxl-min (min-width: 1440px);

/* Max */
@custom-media --xs-max (max-width: 415px);
@custom-media --s-max (max-width: 769px);
@custom-media --m-max (max-width: 1025px);
@custom-media --l-max (max-width: 1281px);
@custom-media --xl-max (max-width: 1367px);
@custom-media --xxl-max (max-width: 1441px);
