:root {
    /* Fonts */
    --global-font-size: 16px;
    --global-line-height: 1.4;
    --global-font-family: 'Raleway', 'HelveticaNeue', 'Helvetica Neue',
        Helvetica, Arial, sans-serif;

    /* Colors */
    --global-color: #2d2d2d;
    --global-color-muted: #8f8f8f;
    --global-color-primary: #872ffc;
    --global-color-inverse: #fff;

    /* Link color */
    --global-link-color: #872ffc;
    --global-link-color-hover: color-mod(
        var(--global-link-color) lightness(45%)
    );

    /* Background */
    --global-background: #fff;
    --global-background-muted: #ececec;
    --global-background-primary: #872ffc;
    --global-background-secondary: #2d2d2d;

    /* Padding for layouts */
    --global-padding: 1.25rem; /* 20px */
    --global-padding-small: 0.625rem; /* 10px */
    --global-padding-medium: 2.5rem; /* 40px */

    /* Margin for typography */
    --global-margin: 1.25rem; /* 20px */
    --global-margin-small: 0.625rem; /* 10px */
    --global-margin-medium: 2.5rem; /* 40px */
    --global-margin-large: 4.375rem; /* 70px */
    --global-margin-xlarge: 8.75rem; /* 140px */

    /* Border */
    --global-border: 1px;
    --global-border-color: color-mod(
        var(--global-background-muted) lightness(50%)
    );
    --global-border-radius: 3px;

    /* Box Shadow */
    --global-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.08);
    --global-box-shadow-small: 0 2px 8px rgba(0, 0, 0, 0.08);
    --global-box-shadow-large: 0 14px 25px rgba(0, 0, 0, 0.16);
    --global-box-shadow-xlarge: 0 28px 50px rgba(0, 0, 0, 0.16);

    /* Breakpoints */
    --xs: 420px; /* Mobile */
    --s: 768px; /* Ipad */
    --m: 1024px; /* Ipad Pro */
    --l: 1280px; /* Laptop */
    --xl: 1366px; /* Laptop MDPI */
    --xxl: 1440px; /* Laptop HDPI */
}
