.animation__slide__top__small {
    animation-duration: 0.2s;
    animation-timing-function: ease-out;
    animation-fill-mode: both;
    animation-name: uk-fade-top-small;
}

@keyframes uk-fade-top-small {
    0% {
        opacity: 0;
        transform: translateY(-10px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
