/* Styles
 ========================================================================== */

.background__default {
    background-color: var(--global-background);
}

.background__muted {
    background-color: var(--global-background-muted);
}

.background__primary {
    background-color: var(--global-background-primary);
}

.background__secondary {
    background-color: var(--global-background-secondary);
}

/* Size
 ========================================================================== */

.background__cover,
.background__contain {
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

.background__cover {
    background-size: cover;
}
.background__contain {
    background-size: contain;
}

/* Position
 ========================================================================== */

.background__top-left {
    background-position: 0 0;
}
.background__top-center {
    background-position: 50% 0;
}
.background__top-right {
    background-position: 100% 0;
}
.background__center-left {
    background-position: 0 50%;
}
.background__center-center {
    background-position: 50% 50%;
}
.background__center-right {
    background-position: 100% 50%;
}
.background__bottom-left {
    background-position: 0 100%;
}
.background__bottom-center {
    background-position: 50% 100%;
}
.background__bottom-right {
    background-position: 100% 100%;
}

/* Repeat
 ========================================================================== */

.background__norepeat {
    background-repeat: no-repeat;
}

/* Attachment
 ========================================================================== */

/*
 * 1. Fix bug introduced in Chrome 67: the background image is not visible if any element on the page uses `translate3d`
 */

.background__fixed {
    background-attachment: fixed;
    /* 1 */
    backface-visibility: hidden;
}

/*
 * Exclude touch devices because `fixed` doesn't work on iOS and Android
 */

@media (pointer: coarse) {
    .background__fixed {
        background-attachment: scroll;
    }
}

/* Image
 ========================================================================== */

/* xs */
@media (--xs-min) {
    .background__image\@xs {
        background-image: none !important;
    }
}

/* s */
@media (--s-min) {
    .background__image\@s {
        background-image: none !important;
    }
}

/* m */
@media (--m-min) {
    .background__image\@m {
        background-image: none !important;
    }
}

/* l */
@media (--l-min) {
    .background__image\@l {
        background-image: none !important;
    }
}

/* xl */
@media (--xl-min) {
    .background__image\@xl {
        background-image: none !important;
    }
}

/* xxl */
@media (--xxl-min) {
    .background__image\@xxl {
        background-image: none !important;
    }
}

/* Blend modes
 ========================================================================== */

.background__blend__multiply {
    background-blend-mode: multiply;
}
.background__blend__screen {
    background-blend-mode: screen;
}
.background__blend__overlay {
    background-blend-mode: overlay;
}
.background__blend__darken {
    background-blend-mode: darken;
}
.background__blend__lighten {
    background-blend-mode: lighten;
}
.background__blend__color-dodge {
    background-blend-mode: color-dodge;
}
.background__blend__color-burn {
    background-blend-mode: color-burn;
}
.background__blend__hard-light {
    background-blend-mode: hard-light;
}
.background__blend__soft-light {
    background-blend-mode: soft-light;
}
.background__blend__difference {
    background-blend-mode: difference;
}
.background__blend__exclusion {
    background-blend-mode: exclusion;
}
.background__blend__hue {
    background-blend-mode: hue;
}
.background__blend__saturation {
    background-blend-mode: saturation;
}
.background__blend__color {
    background-blend-mode: color;
}
.background__blend__luminosity {
    background-blend-mode: luminosity;
}
