/* Variables */
.button {
    /* Button */
    --button-padding-vertical: 0.5em;
    --button-padding-horizontal: 1em;
    --button-border-radius: var(--global-border-radius);
    --button-box-shadow: var(--global-box-shadow);

    /* Button Default */
    --button-color: var(--global-color-primary);
    --button-color-hover: var(--global-color-inverse);
    --button-color-active: var(--button-color-hover);

    --button-background: var(--global-background);
    --button-background-hover: color-mod(
        var(--global-background-primary) lightness(47%)
    );
    --button-background-active: color-mod(
        var(--global-background-primary) lightness(43%)
    );

    --button-border-color: var(--global-background-primary);
    --button-border-color-hover: var(--global-background-primary);
    --button-border-color-active: var(--button-background-active);

    /* Button Primary */
    --button-primary-color: var(--global-color-inverse);
    --button-primary-color-hover: var(--button-primary-color);
    --button-primary-color-active: var(--button-primary-color);

    --button-primary-background: var(--global-background-primary);
    --button-primary-background-hover: var(--button-background-hover);
    --button-primary-background-active: var(--button-background-active);

    /* Button Link */
    --button-link-color: var(--global-link-color);
    --button-link-color-hover: var(--global-link-color-hover);
    --button-link-hover-text-decoration: none;
    --button-link-line-height: var(--global-line-height);
}

.button {
    position: relative;
    overflow: hidden;
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
}

.button {
    box-sizing: border-box;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    margin: 2px 0;
    color: var(--button-color);
    background-color: var(--button-background);
    border: solid 1px var(--button-border-color);
    border-radius: var(--button-border-radius);
    padding: var(--button-padding-vertical) var(--button-padding-horizontal);
    transition: 0.3s ease;
    transition-property: border-color, background-color;
}

.button::-moz-focus-inner {
    border: none;
}

.button:focus {
    outline: none;
}

.button:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 5px;
    height: 5px;
    background: color-mod(var(--global-background-muted) alpha(40%));
    opacity: 0;
    border-radius: 100%;
    transform: scale(1, 1) translate(-50%);
    transform-origin: 50% 50%;
}

@keyframes ripple {
    0% {
        transform: scale(0, 0);
        opacity: 1;
    }
    20% {
        transform: scale(25, 25);
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: scale(40, 40);
    }
}

/* Hover + Focus */
.button:focus:not(:active)::after {
    animation: ripple 1s ease-out;
}

.button:hover,
.button:focus {
    color: var(--button-color-hover);
    background-color: var(--button-background-hover);
    border-color: var(--button-border-color-hover);
}

/* Active */
.button:active,
.button.active {
    color: var(--button-color-active);
    background-color: var(--button-background-active);
    border-color: var(--button-border-color-active);
}

/* Button Primary 
==========================================================================*/
.button__primary {
    color: var(--button-primary-color);
    background-color: var(--button-primary-background);
    border: 1px solid transparent;
}

/* Hover + Focus */
.button__primary:hover,
.button__primary:focus {
    color: var(--button-primary-color-hover);
    background-color: var(--button-primary-background-hover);
    border: 1px solid transparent;
}

/* Active */
.button__primary:active,
.button__primary.active {
    color: var(--button-primary-color-active);
    background-color: var(--button-primary-background-active);
    border: 1px solid transparent;
}

/* Button Link 
==========================================================================*/
.button__link {
    background: none;
    padding: 0;
    border: none;
    min-height: auto;
    margin: 0;
    line-height: var(--button-link-line-height);
    color: var(--button-link-color);
}

/* Hover + Focus */
.button__link:hover,
.button__link:focus {
    color: var(--button-link-color-hover);
    background: none;
}

/* Active */
.button__link:active,
.button__link.active {
    color: var(--button-link-color-hover);
    background: none;
}
