.card {
    --card-padding: var(--global-padding);
    --card-padding-small: var(--global-padding-small);

    --card-border-radius: var(--global-border-radius);

    --card-box-shadow: var(--global-box-shadow);
    --card-box-shadow-hover: var(--global-box-shadow-large);

    --card-title-size: var(--text-l);
    --card-title-margin: var(--global-margin);
    --card-title-transform: uppercase;

    --card-background-default: var(--global-background);
}

.card {
    padding: var(--card-padding);
    box-shadow: var(--card-box-shadow);
    border-radius: var(--card-border-radius);
    transition: box-shadow 0.25s ease;
}

.card:hover {
    box-shadow: var(--card-box-shadow-hover);
}

.card__small {
    padding: var(--card-padding-small);
}

/* Title */
.card__title {
    font-size: var(--card-title-size);
    text-transform: var(--card-title-transform);
    margin-bottom: var(--card-title-margin);
}

* + .card__title {
    margin-top: var(--card-title-margin);
}

/* Colors */
.card__default {
    background-color: var(--card-background-default);
}
