/* Variables */
.container {
    --container-width: var(--l);
    --container-padding: var(--global-padding);
}

.container {
    max-width: var(--container-width);
    margin: 0 auto;
    padding: 0 var(--container-padding);
}
