/* Variables
======================================================================== */

:root {
    --height-small: 150px;
    --height-medium: 300px;
    --height-large: 450px;
}

/* ========================================================================
   Component: Height
 ========================================================================== */

[class*='height'] {
    box-sizing: border-box;
}

.height__1-1 {
    height: 100%;
}

.height__viewport {
    min-height: 100vh;
}

.height__small {
    height: var(--height-small);
}
.height__medium {
    height: var(--height-medium);
}
.height__large {
    height: var(--height-large);
}

.height__max__small {
    max-height: var(--height-small);
}
.height__max__medium {
    max-height: var(--height-medium);
}
.height__max__large {
    max-height: var(--height-large);
}
