/* Inverse 
================================================================ */
.light {
    --global-color: var(--global-color-inverse);
    --global-primary: var(--global-color-inverse);
    color: var(--global-color);
}
