/* Variables */
.list {
    --list-padding-left: var(--global-padding);
    --list-item-margin-top: var(--global-margin-small);

    --list-item-padding-left: calc(
        var(--global-line-height) * var(--global-padding)
    );

    --list-bullet-width: calc(var(--global-line-height) * 1em);
    --list-bullet-height: var(--list-bullet-width);
}

.list {
    padding: 0;
    list-style: none;
}

.list__item::before,
.list__item::after {
    content: '';
    display: table;
}

.list__item::after {
    clear: both;
}

.list__item:last-child {
    margin-bottom: 0;
}

/*
 * Nested lists
 */

.list .list {
    margin: 0;
    padding-left: var(--list-padding-left);
    list-style: none;
}

/*
 * Style
 */

.list__item:nth-child(n + 2),
.list > .list__item > .list {
    margin-top: var(--list-item-margin-top);
}

/*
 * Bullet
 * 1. Reset display `table` which causes issues in combination with multi column layouts.
 */

.list__bullet > .list__item {
    position: relative;
    padding-left: var(--list-item-padding-left);
}

.list__bullet > .list__item:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: var(--list-bullet-width);
    height: var(--list-bullet-height);
    background-image: url('~assets/icons/list-bullet.svg');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    display: block;
}