/* Variables
======================================================================== */

:root {
    --margin: var(--global-margin);
    --margin-small: var(--global-margin-small);
    --margin-medium: var(--global-margin-medium);
    --margin-large: var(--global-margin-large);
    --margin-xlarge: var(--global-margin-xlarge);
}

/*
 * Default
 */

.margin {
    margin-bottom: var(--margin);
}
* + .margin {
    margin-top: var(--margin) !important;
}

.margin__top {
    margin-top: var(--margin) !important;
}
.margin__bottom {
    margin-bottom: var(--margin) !important;
}
.margin__left {
    margin-left: var(--margin) !important;
}
.margin__right {
    margin-right: var(--margin) !important;
}

/* Small
 ========================================================================== */

.margin__small {
    margin-bottom: var(--margin-small);
}
* + .margin__small {
    margin-top: var(--margin-small) !important;
}

.margin__small__top {
    margin-top: var(--margin-small) !important;
}
.margin__small__bottom {
    margin-bottom: var(--margin-small) !important;
}
.margin__small__left {
    margin-left: var(--margin-small) !important;
}
.margin__small__right {
    margin-right: var(--margin-small) !important;
}

/* Medium
 ========================================================================== */

.margin__medium {
    margin-bottom: var(--margin-medium);
}
* + .margin__medium {
    margin-top: var(--margin-medium) !important;
}

.margin__medium__top {
    margin-top: var(--margin-medium) !important;
}
.margin__medium__bottom {
    margin-bottom: var(--margin-medium) !important;
}
.margin__medium__left {
    margin-left: var(--margin-medium) !important;
}
.margin__medium__right {
    margin-right: var(--margin-medium) !important;
}

/* Large
 ========================================================================== */

.margin__large {
    margin-bottom: var(--margin-large);
}
* + .margin__large {
    margin-top: var(--margin-large) !important;
}

.margin__large__top {
    margin-top: var(--margin-large) !important;
}
.margin__large__bottom {
    margin-bottom: var(--margin-large) !important;
}
.margin__large__left {
    margin-left: var(--margin-large) !important;
}
.margin__large__right {
    margin-right: var(--margin-large) !important;
}

/* XLarge
 ========================================================================== */

.margin__xlarge {
    margin-bottom: var(--margin-xlarge);
}
* + .margin__xlarge {
    margin-top: var(--margin-xlarge) !important;
}

.margin__xlarge__top {
    margin-top: var(--margin-xlarge) !important;
}
.margin__xlarge__bottom {
    margin-bottom: var(--margin-xlarge) !important;
}
.margin__xlarge__left {
    margin-left: var(--margin-xlarge) !important;
}
.margin__xlarge__right {
    margin-right: var(--margin-xlarge) !important;
}

/* Auto
 ========================================================================== */

.margin__auto {
    margin-left: auto !important;
    margin-right: auto !important;
}

.margin__auto__top {
    margin-top: auto !important;
}
.margin__auto__bottom {
    margin-bottom: auto !important;
}
.margin__auto__left {
    margin-left: auto !important;
}
.margin__auto__right {
    margin-right: auto !important;
}

.margin__auto__vertical {
    margin-top: auto !important;
    margin-bottom: auto !important;
}

/* xs */
@media (--xs-min) {
    .margin__auto\@xs {
        margin-left: auto !important;
        margin-right: auto !important;
    }

    .margin__auto__left\@xs {
        margin-left: auto !important;
    }
    .margin__auto__right\@xs {
        margin-right: auto !important;
    }
}

/* s */
@media (--s-min) {
    .margin__auto\@s {
        margin-left: auto !important;
        margin-right: auto !important;
    }

    .margin__auto__left\@s {
        margin-left: auto !important;
    }
    .margin__auto__right\@s {
        margin-right: auto !important;
    }
}

/* m */
@media (--m-min) {
    .margin__auto\@m {
        margin-left: auto !important;
        margin-right: auto !important;
    }

    .margin__auto__left\@m {
        margin-left: auto !important;
    }
    .margin__auto__right\@m {
        margin-right: auto !important;
    }
}

/* l */
@media (--l-min) {
    .margin__auto\@l {
        margin-left: auto !important;
        margin-right: auto !important;
    }

    .margin__auto__left\@l {
        margin-left: auto !important;
    }
    .margin__auto__right\@l {
        margin-right: auto !important;
    }
}

/* xl */
@media (--xl-min) {
    .margin__auto\@xl {
        margin-left: auto !important;
        margin-right: auto !important;
    }

    .margin__auto__left\@xl {
        margin-left: auto !important;
    }
    .margin__auto__right\@xl {
        margin-right: auto !important;
    }
}

/* xxl */
@media (--xxl-min) {
    .margin__auto\@xxl {
        margin-left: auto !important;
        margin-right: auto !important;
    }

    .margin__auto__left\@xxl {
        margin-left: auto !important;
    }
    .margin__auto__right\@xxl {
        margin-right: auto !important;
    }
}

/* Remove
 ========================================================================== */

.margin__remove {
    margin: 0 !important;
}
.margin__remove__top {
    margin-top: 0 !important;
}
.margin__remove__bottom {
    margin-bottom: 0 !important;
}
.margin__remove__left {
    margin-left: 0 !important;
}
.margin__remove__right {
    margin-right: 0 !important;
}

.margin__remove__vertical {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

.margin__remove__adjacent + *,
.margin__remove__first-child > :first-child {
    margin-top: 0 !important;
}

/* xs */
@media (--xs-min) {
    .margin__remove__left\@xs {
        margin-left: 0 !important;
    }
    .margin__remove__right\@xs {
        margin-right: 0 !important;
    }
}

/* s */
@media (--s-min) {
    .margin__remove__left\@s {
        margin-left: 0 !important;
    }
    .margin__remove__right\@s {
        margin-right: 0 !important;
    }
}

/* m */
@media (--m-min) {
    .margin__remove__left\@m {
        margin-left: 0 !important;
    }
    .margin__remove__right\@m {
        margin-right: 0 !important;
    }
}

/* l */
@media (--l-min) {
    .margin__remove__left\@l {
        margin-left: 0 !important;
    }
    .margin__remove__right\@l {
        margin-right: 0 !important;
    }
}

/* xl */
@media (--xl-min) {
    .margin__remove__left\@xl {
        margin-left: 0 !important;
    }
    .margin__remove__right\@xl {
        margin-right: 0 !important;
    }
}

/* xxl */
@media (--xxl-min) {
    .margin__remove__left\@xxl {
        margin-left: 0 !important;
    }
    .margin__remove__right\@xxl {
        margin-right: 0 !important;
    }
}
