/* Variables */
.nav {
    --nav-font-size: var(--text-base-size);
    --nav-font-size-primary: var(--text-l);

    /* Link */
    --nav-link-color: var(--global-color);
    --nav-link-color-hover: var(--global-color);
    --nav-link-color-active: var(--global-color);

    --nav-link-padding: calc(var(--global-padding-small) / 2);

    /* Sub */
    --nav-sub-padding: var(--nav-link-padding) 0 var(--nav-link-padding)
        calc(var(--nav-link-padding) * 3);

    --nav-sub-link-padding: calc(var(--nav-link-padding) / 2);
}

.nav {
    font-size: var(--nav-font-size);
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav__item {
    display: block;
    text-decoration: none;
    padding: var(--nav-link-padding) 0;
    color: var(--nav-link-color);
    opacity: 0.6;
    transition: 0.3s;
    transition-property: color opacity;
}

.nav__item:hover {
    color: var(--nav-link-color-hover);
    opacity: 1;
}

.nav__item:focus,
.nav__item.active {
    outline: none;
    color: var(--nav-link-color-active);
    opacity: 1;
}

/* Nested */
.nav.nav__sub {
    margin: 0;
    padding: var(--nav-sub-padding);
}

.nav__sub .nav__sub {
    padding-top: 0;
    padding-bottom: 0;
}

.nav__sub .nav__item {
    padding: var(--nav-sub-link-padding) 0;
}

/* Primary */
.nav__primary {
    font-size: var(--nav-font-size-primary);
}