/* Variables
======================================================================== */

:root {
    --padding: var(--global-padding);
    --padding-small: var(--global-padding-small);
    --padding-large: var(--global-padding-medium);
}

/* Component: Padding
 ========================================================================== */

.padding {
    padding: var(--padding);
}

/* Small
 ========================================================================== */

.padding__small {
    padding: var(--padding-small);
}

/* Large
 ========================================================================== */

.padding__large {
    padding: var(--padding-large);
}

/* Remove
 ========================================================================== */

.padding__remove {
    padding: 0 !important;
}
.padding__remove__top {
    padding-top: 0 !important;
}
.padding__remove__bottom {
    padding-bottom: 0 !important;
}
.padding__remove__left {
    padding-left: 0 !important;
}
.padding__remove__right {
    padding-right: 0 !important;
}

.padding__remove__vertical {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.padding__remove__horizontal {
    padding-left: 0 !important;
    padding-right: 0 !important;
}
