/* Variables */
.subnav {
    --subnav-font-size: var(--text-base-size);
    --subnav-font-size-primary: var(--text-l);

    /* Link */
    --subnav-link-color: #505b67;
    --subnav-link-color-hover: var(--global-color-primary);
    --subnav-link-color-active: var(--global-color-primary);

    --subnav-link-padding: var(--global-padding-small);
}

.subnav {
    font-size: var(--subnav-font-size);
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
}

.subnav > li:not(:last-child) {
    padding-right: var(--subnav-link-padding);
}

.subnav__link {
    display: block;
    text-decoration: none;
    color: var(--subnav-link-color);
    transition: 0.3s;
    transition-property: color;
    white-space: nowrap;
}

.subnav__link:hover {
    color: var(--subnav-link-color-hover);
}

.subnav__link:focus,
.subnav__link.active {
    outline: none;
    color: var(--subnav-link-color-active);
}
