/* Variables */
html {
    /* Sizes */
    --text-large: var(--text-l);
    --text-small: var(--text-s);

    /* Lead */
    --text-lead-size: var(--text-large);

    /* Meta */
    --text-meta-size: var(--text-small);
    --text-meta-color: var(--global-color-muted);

    /* Colors */
    --text-primary: var(--global-color-primary);
    --text-muted: var(--global-color-muted);
}

/* Sizes */
.text__small {
    font-size: var(--text-small);
}

.text__large {
    font-size: var(--text-large);
}

/* Lead */
.text__lead {
    font-size: var(--text-lead-size);
}

/* Meta */
.text__meta {
    font-size: var(--text-meta-size);
    color: var(--text-meta-color);
}

/* Bold */
.text__bold {
    font-weight: bold;
}

/* Colors */
.text__primary {
    color: var(--text-primary);
}

.text__muted {
    color: var(--text-muted);
}

/* Wrapping */
.text__truncate {
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.text__break {
    overflow-wrap: break-word;
    word-wrap: break-word;
}

.text__nowrap {
    white-space: nowrap;
}

/* Transform */

.text__uppercase {
    text-transform: uppercase;
}

.text__capitalize {
    text-transform: capitalize;
}

.text__lowercase {
    text-transform: lowercase;
}

/* Alignment */
.text__left {
    text-align: left !important;
}

.text__right {
    text-align: right !important;
}

.text__center {
    text-align: center !important;
}

@media (--xs-min) {
    .text__left\@xs {
        text-align: left !important;
    }
    .text__right\@xs {
        text-align: right !important;
    }
    .text__center\@xs {
        text-align: center !important;
    }
}

@media (--s-min) {
    .text__left\@s {
        text-align: left !important;
    }
    .text__right\@s {
        text-align: right !important;
    }
    .text__center\@s {
        text-align: center !important;
    }
}

@media (--m-min) {
    .text__left\@m {
        text-align: left !important;
    }
    .text__right\@m {
        text-align: right !important;
    }
    .text__center\@m {
        text-align: center !important;
    }
}

@media (--l-min) {
    .text__left\@l {
        text-align: left !important;
    }
    .text__right\@l {
        text-align: right !important;
    }
    .text__center\@l {
        text-align: center !important;
    }
}

@media (--xl-min) {
    .text__left\@xl {
        text-align: left !important;
    }
    .text__right\@xl {
        text-align: right !important;
    }
    .text__center\@xl {
        text-align: center !important;
    }
}

@media (--xxl-min) {
    .text__left\@xxl {
        text-align: left !important;
    }
    .text__right\@xxl {
        text-align: right !important;
    }
    .text__center\@xxl {
        text-align: center !important;
    }
}

/* Vertical alignment */
.text__top {
    vertical-align: top !important;
}
.text__middle {
    vertical-align: middle !important;
}
.text__bottom {
    vertical-align: bottom !important;
}
.text__baseline {
    vertical-align: baseline !important;
}
