<template>
    <component
        :is="tag"
        class="dropdown"
        :class="{ dropdown__open: isOpen }"
        @mouseenter="open"
        @mouseleave="close"
        @click="toggle"
    >
        <slot></slot>
        <transition name="slide-top-small">
            <div
                v-show="isOpen"
                class="dropdown__wrapper"
                :class="`dropdown__wrapper__${align}`"
            >
                <div class="dropdown__content">
                    <slot name="dropdown-content"></slot>
                </div>
            </div>
        </transition>
    </component>
</template>

<script>
export default {
    name: 'BaseDropdown',
    props: {
        tag: {
            type: String,
            default: 'div'
        },
        mode: {
            type: String,
            default: 'hover'
        },
        align: {
            type: String,
            default: 'left'
        }
    },
    data() {
        return {
            isOpen: false
        }
    },
    watch: {
        $route() {
            if (this.isOpen) this.close()
        }
    },
    methods: {
        open() {
            if (this.mode === 'hover') this.isOpen = true
        },
        close() {
            if (this.mode === 'hover') this.isOpen = false
        },
        toggle() {
            if (this.mode === 'click') this.isOpen = !this.isOpen
        }
    }
}
</script>

<style lang="css">
.dropdown {
    --dropdown-offset: 10px;
    --dropdown-box-shadow: var(--global-box-shadow);
    --dropdown-border-radius: var(--global-border-radius);
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown__wrapper {
    position: absolute;
    top: 100%;

    padding-top: var(--dropdown-offset);
    z-index: 999;
}

.dropdown__wrapper__left {
    left: 0;
    right: auto;
}
.dropdown__wrapper__right {
    left: auto;
    right: 0;
}

.dropdown__content {
    min-width: 200px;
    box-shadow: var(--dropdown-box-shadow);
    border-radius: var(--dropdown-border-radius);
    overflow: hidden;
}

/* Last dropdown items fix */
.dropdown:nth-child(n + 6) .dropdown__wrapper {
    left: auto;
    right: 0;
}

/* Animation */
.slide-top-small-enter-active,
.slide-top-small-enter {
    animation-duration: 0.2s;
    animation-timing-function: ease-out;
    animation-fill-mode: both;
    animation-name: fade-top-small;
}

.slide-top-small-leave-active,
.slide-top-small-leave-to {
    animation-duration: 0.2s;
    animation-timing-function: ease;
    animation-fill-mode: both;
    animation-name: fade-bottom-small;
}

@keyframes fade-top-small {
    0% {
        opacity: 0;
        transform: translateY(-10px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fade-bottom-small {
    0% {
        opacity: 1;
        transform: translateY(0);
    }
    100% {
        opacity: 0;
        transform: translateY(-10px);
    }
}
</style>
