<template>
    <div>
        <header>
            <app-navbar :menu="menu"></app-navbar>
        </header>

        <main>
            <article>
                <nuxt />
            </article>
        </main>

        <app-offcanvas :menu="menu"> </app-offcanvas>
    </div>
</template>
<script>
import AppNavbar from '@/components/AppNavbar'
export default {
    components: {
        AppNavbar,
        AppOffcanvas: () => import('@/components/AppOffcanvas')
    },
    data() {
        return {
            menu: [
                {
                    name: 'Text',
                    path: '/text'
                },
                {
                    name: 'List',
                    path: '/list'
                },
                {
                    name: 'Nav',
                    path: '/nav'
                },
                {
                    name: 'Button',
                    path: '/button'
                },
                {
                    name: 'Form',
                    path: '/form'
                },
                {
                    name: 'Grid',
                    path: '/grid'
                },
                {
                    name: 'Flex',
                    path: '/flex'
                },
                {
                    name: 'Background',
                    path: '/background'
                },
                {
                    name: 'Modal',
                    path: '/modal'
                },
                {
                    name: 'Hooper',
                    path: '/hooper'
                }
            ]
        }
    }
}
</script>
