<template>
    <section class="section">
        <div class="container">
            <header>
                <h1 class="h1">Background component</h1>
            </header>
            <div class="grid__auto">
                <div>
                    <h2 class="h4">Cover</h2>
                    <div
                        class="grid__item background__cover"
                        style="background-image: url(images/bg.jpg)"
                    ></div>
                </div>
                <div>
                    <h2 class="h4">Contain</h2>
                    <div
                        class="grid__item background__contain background__muted"
                        style="background-image: url(images/bg.jpg)"
                    ></div>
                </div>
                <div>
                    <h2 class="h4">Cover top-left</h2>
                    <div
                        class="grid__item background__cover background__top-left"
                        style="background-image: url(images/bg.jpg)"
                    ></div>
                </div>
                <div>
                    <h2 class="h4">Cover center-right</h2>
                    <div
                        class="grid__item background__cover background__center-right"
                        style="background-image: url(images/bg.jpg)"
                    ></div>
                </div>
                <div>
                    <h2 class="h4">Fixed</h2>
                    <div
                        class="grid__item background__fixed background__cover background__center-center"
                        style="background-image: url(images/bg.jpg)"
                    ></div>
                </div>
                <div>
                    <h2 class="h4">Blend</h2>
                    <div
                        class="grid__item background__cover background__primary background__blend__multiply"
                        style="background-image: url(images/bg.jpg)"
                    ></div>
                </div>
                <div>
                    <h2 class="h4">Default</h2>
                    <div class="grid__item background__default"></div>
                </div>
                <div>
                    <h2 class="h4">Muted</h2>
                    <div class="grid__item background__muted"></div>
                </div>
                <div>
                    <h2 class="h4">Primary</h2>
                    <div class="grid__item background__primary"></div>
                </div>
                <div>
                    <h2 class="h4">Secondary</h2>
                    <div class="grid__item background__secondary"></div>
                </div>
            </div>
        </div>
    </section>
</template>

<script>
export default {
    name: 'PageBackground'
}
</script>

<style scoped>
@import '@/assets/css/variables.css';

.grid__auto {
    --auto-grid-min-size: 12rem;
    --auto-grid-gap: 4rem;
}

.grid__item {
    height: 300px;
    border-radius: var(--global-border-radius);
}
</style>
