<template>
    <section class="section height__large">
        <div class="container">
            <header>
                <h1 class="h1">Button component</h1>
            </header>
            <div>
                <button class="button">Default</button>
                <button class="button button__primary">Primary</button>
            </div>
            <div class="margin">
                <a href="#" class="button">Button link</a>
                <a href="#" class="button active">Button link active</a>
                <a href="#" class="button button__primary"
                    >Button link primary</a
                >
                <a href="#" class="button button__primary active"
                    >Button link primary active</a
                >
            </div>
        </div>
    </section>
</template>

<script>
export default {
    name: 'PageButton'
}
</script>
