<template>
    <section class="section">
        <div class="container">
            <header>
                <h1 class="h1">Flex component</h1>
            </header>
            <div class="grid__auto">
                <!-- Display flex Start -->
                <div class="background__muted padding">
                    <h2 class="h4">Display flex</h2>
                    <div class="flex">
                        <div v-for="el in 3" :key="el" class="grid__item">
                            {{ el }}
                        </div>
                    </div>
                </div>
                <!-- Display flex End -->

                <!-- Flex between Start -->
                <div class="background__muted padding">
                    <h2 class="h4">Flex between</h2>
                    <div class="flex flex__between">
                        <div v-for="el in 3" :key="el" class="grid__item">
                            {{ el }}
                        </div>
                    </div>
                </div>
                <!-- Flex between End -->

                <!-- Flex center Start -->
                <div class="background__muted padding">
                    <h2 class="h4">Flex center</h2>
                    <div class="flex flex__center">
                        <div v-for="el in 3" :key="el" class="grid__item">
                            {{ el }}
                        </div>
                    </div>
                </div>
                <!-- Flex center End -->

                <!-- Flex middle Start -->
                <div class="background__muted padding">
                    <h2 class="h4">Flex middle</h2>
                    <div class="flex flex__middle">
                        <div
                            v-for="el in 3"
                            :key="el"
                            class="grid__item"
                            :style="{ height: 50 * el + 'px' }"
                        >
                            {{ el }}
                        </div>
                    </div>
                </div>
                <!-- Flex middle End -->
            </div>
        </div>
    </section>
</template>

<script>
export default {
    name: 'PageFlex'
}
</script>

<style scoped>
@import '@/assets/css/variables.css';

.grid__auto {
    --auto-grid-min-size: 15rem;
    --auto-grid-gap: 4rem;
}

.grid__item {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: var(--global-padding);
    border-radius: var(--global-border-radius);
    background-color: var(--global-background-primary);
    color: var(--global-color-inverse);
}

.grid__item:not(:last-child) {
    margin-right: var(--global-margin);
}
</style>
