<template>
    <section class="section">
        <div class="container">
            <header>
                <h1 class="h1">Form</h1>
            </header>
            <!-- Form  Start -->
            <form class="form">
                <!-- Input Start -->
                <div>
                    <label for="input" class="form__label">Input</label>
                    <input
                        id="input"
                        name="input"
                        class="input"
                        type="text"
                        placeholder="Input"
                    />
                </div>
                <!-- Input End -->

                <!-- Select Start -->
                <div>
                    <label for="select" class="form__label">Select</label>
                    <select
                        id="select"
                        name="select"
                        class="select"
                        type="select"
                    >
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                    </select>
                </div>
                <!-- Select End -->

                <!-- Textarea Start -->
                <div>
                    <label for="textarea" class="form__label">Textarea</label>
                    <textarea
                        id="textarea"
                        name="textarea"
                        class="textarea"
                        type="text"
                        rows="5"
                    ></textarea>
                </div>
                <!-- Textarea End -->

                <!-- Checkbox Start -->
                <div>
                    <label>
                        <input type="checkbox" class="checkbox" /> Checkbox 1
                    </label>
                    <label>
                        <input type="checkbox" class="checkbox" /> Checkbox 2
                    </label>
                    <label>
                        <input type="checkbox" class="checkbox" /> Checkbox 3
                    </label>
                </div>
                <!-- Checkbox End -->

                <!-- Radio Start -->
                <div>
                    <label>
                        <input type="radio" class="radio" name="radio" />
                        Radio 1
                    </label>
                    <label>
                        <input type="radio" class="radio" name="radio" />
                        Radio 2
                    </label>
                    <label>
                        <input type="radio" class="radio" name="radio" />
                        Radio 3
                    </label>
                </div>
                <!-- Radio End -->

                <button type="submit" class="button">Сохранить</button>
            </form>
            <!-- Form  End -->
        </div>
    </section>
</template>

<script>
export default {
    name: 'PageForm'
}
</script>
<style></style>
