<template>
    <section class="section">
        <div class="container">
            <header>
                <h1 class="h1">Auto grid component</h1>
            </header>
            <div class="grid__auto">
                <div v-for="el in 15" :key="el" class="grid__item">
                    Item {{ el }}
                </div>
            </div>
        </div>
    </section>
</template>

<script>
export default {
    name: 'PageGrid'
}
</script>
<style scoped>
@import '@/assets/css/variables.css';

.grid__auto {
    --auto-grid-min-size: 10rem;
    --auto-grid-max-size: 1fr;
    --auto-grid-gap: 1rem;
}

.grid__item {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: var(--global-padding);
    border-radius: var(--global-border-radius);
    background-color: var(--global-background-primary);
    color: var(--global-color-inverse);
}
</style>
