<template>
    <section class="section">
        <div class="container">
            <header>
                <h1 class="h1">Hooper</h1>
            </header>
            <article>
                <h2 class="h3">Default carousel</h2>
                <client-only>
                    <hooper
                        :items-to-show="1.5"
                        :center-mode="true"
                        :initial-slide="1"
                        :infinite-scroll="true"
                        class="section"
                    >
                        <slide v-for="el in 25" :key="el">
                            <div
                                class="light background__primary flex flex__center flex__middle width__1-1 height__1-1"
                            >
                                Slide {{ el }}
                            </div>
                        </slide>
                        <hooper-navigation
                            slot="hooper-addons"
                        ></hooper-navigation>
                        <hooper-progress slot="hooper-addons"></hooper-progress>
                        <hooper-pagination
                            slot="hooper-addons"
                        ></hooper-pagination>
                    </hooper>
                </client-only>
            </article>
        </div>
    </section>
</template>

<script>
import {
    Hooper,
    Slide,
    Navigation as HooperNavigation,
    Progress as HooperProgress,
    Pagination as HooperPagination
} from 'hooper'
import 'hooper/dist/hooper.css'
export default {
    name: 'PageHooper',
    components: {
        Hooper,
        Slide,
        HooperNavigation,
        HooperProgress,
        HooperPagination
    },
    mounted() {}
}
</script>

<style lang="css">
.hooper-slide {
    padding-right: 10px;
}

.hooper-indicator {
    background-color: var(--global-background-muted);
}

.hooper-indicator:hover,
.hooper-indicator:active {
    background-color: var(--global-background-primary);
}

.hooper-indicator.is-active {
    background-color: var(--global-background-primary);
}

.hooper-progress-inner {
    background-color: var(--global-background-primary);
}
</style>
