<template>
    <section class="section">
        <div class="container">
            <header>
                <h1 class="h1">Base</h1>
            </header>
            <h1 class="h1">.h1 Lorem ipsum dolor sit amet.</h1>
            <h2 class="h2">.h2 Lorem ipsum dolor sit amet.</h2>
            <h3 class="h3">.h3 Lorem ipsum dolor sit amet.</h3>
            <h4 class="h4">.h4 Lorem ipsum dolor sit amet.</h4>
            <h5 class="h5">.h5 Lorem ipsum dolor sit amet.</h5>
            <h6 class="h6">.h6 Lorem ipsum dolor sit amet.</h6>

            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Consequatur commodi voluptates reiciendis quia laborum nam autem
                officiis, fuga illo eligendi!
            </p>

            <div>
                <a href="#" class="margin__right">Link default</a>
                <a href="#" class="link">Link with class '.link'</a>
            </div>
        </div>
    </section>
</template>

<script>
export default {
    name: 'PageIndex',
    data() {
        return {
            input: 'Input',
            select: '1',
            textarea: 'Textarea'
        }
    }
}
</script>
