<template>
    <section class="section">
        <div class="container">
            <header>
                <h1 class="h1">List component</h1>
            </header>
            <div class="grid__auto">
                <!-- Default Start -->
                <div class="padding background__muted">
                    <h2 class="h3">Default</h2>
                    <ul class="list">
                        <li
                            v-for="(el, i) in 5"
                            :key="i + 'i'"
                            class="list__item"
                        >
                            list item {{ el }}
                        </li>
                    </ul>
                </div>
                <!-- Default End -->

                <!-- Links Start -->
                <div class="padding background__muted">
                    <h2 class="h3">Links</h2>
                    <ul class="list">
                        <li v-for="(el, i) in 5" :key="i" class="list__item">
                            <a href="#" class="link">list item {{ el }}</a>
                        </li>
                    </ul>
                </div>
                <!-- Links End -->

                <!-- Bullet Start -->
                <div class="padding background__muted">
                    <h2 class="h3">Bullet</h2>
                    <ul class="list list__bullet">
                        <li v-for="(el, i) in 5" :key="i" class="list__item">
                            bullet list item {{ el }}
                        </li>
                    </ul>
                </div>
                <!-- Bullet End -->

                <!-- Nested Start -->
                <div class="padding background__muted">
                    <h2 class="h3">Nested</h2>
                    <ul class="list">
                        <li
                            v-for="(el, i) in 2"
                            :key="i + 'i'"
                            class="list__item"
                        >
                            list item {{ el }}
                        </li>
                        <li class="list__item">
                            Nested
                            <ul class="list">
                                <li
                                    v-for="(el, i) in 2"
                                    :key="i + 'i'"
                                    class="list__item"
                                >
                                    list item {{ el }}
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <!-- Nested End -->
            </div>
        </div>
    </section>
</template>

<script>
export default {
    name: 'PageList'
}
</script>

<style lang="css" scoped>
.grid__auto {
    --auto-grid-min-size: 15rem;
}
</style>
