<template>
    <section class="section height__large">
        <div class="container">
            <header>
                <h1 class="h1">Modal component</h1>
            </header>
            <button class="button" @click.prevent="$root.$emit('basic-modal')">
                Basic modal
            </button>
            <button class="button" @click.prevent="$root.$emit('basic-modal2')">
                Basic modal 2
            </button>
            <base-modal modal="basic-modal">Modal 1</base-modal>
            <base-modal modal="basic-modal2">Modal 2</base-modal>
        </div>
    </section>
</template>

<script>
export default {
    name: 'PageModal',
    components: {
        BaseModal: () => import('@/components/BaseModal')
    }
}
</script>
