<template>
    <section class="section">
        <div class="container">
            <header>
                <h1 class="h1">Nav component</h1>
            </header>
            <div class="grid__auto">
                <!-- Default Start -->
                <div class="padding background__muted">
                    <h2 class="h3">Nav default</h2>
                    <ul class="nav width__medium">
                        <li v-for="el in 5" :key="el">
                            <a
                                class="nav__item"
                                href="#"
                                :class="{
                                    active: el === 1
                                }"
                                >Lorem, ipsum - {{ el }}</a
                            >
                        </li>
                    </ul>
                </div>
                <!-- Default End -->

                <!-- Nested Start -->
                <div class="padding background__muted">
                    <h2 class="h3">Nav Nested</h2>
                    <ul class="nav">
                        <li>
                            <a class="nav__item" href="#"
                                >Lorem, ipsum - active</a
                            >
                        </li>
                        <li>
                            <a href="#" class="nav__item">Parent</a>
                            <ul class="nav nav__sub">
                                <li v-for="el in 2" :key="el + 'sub'">
                                    <a href="#" class="nav__item"
                                        >Sub item {{ el }}</a
                                    >
                                </li>
                                <li>
                                    <a href="#" class="nav__item">Parent</a>
                                    <ul class="nav nav__sub">
                                        <li v-for="el in 2" :key="el + 'sub'">
                                            <a href="#" class="nav__item"
                                                >Sub item {{ el }}</a
                                            >
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <!-- Nested End -->

                <!-- Primary Start -->
                <div class="padding background__muted">
                    <h2 class="h3">Nav primary</h2>
                    <ul class="width__medium nav nav__primary">
                        <li v-for="el in 5" :key="el">
                            <a
                                class="nav__item"
                                href="#"
                                :class="{
                                    active: el === 1
                                }"
                                >Lorem, ipsum - {{ el }}</a
                            >
                        </li>
                    </ul>
                </div>
                <!-- Primary End -->
            </div>
        </div>
    </section>
</template>

<script>
export default {
    name: 'PageNav'
}
</script>
<style lang="css" scoped>
.grid__auto {
    --auto-grid-min-size: 15rem;
}
</style>
