<template>
    <section class="section">
        <div class="container">
            <header>
                <h1 class="h1">Text component</h1>
            </header>
            <!-- Sizes -->
            <div>
                <h2 class="h3">.text__large</h2>
                <p class="text__large padding background__muted">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Soluta eum commodi dolore itaque sed magni cum illum,
                    laboriosam eaque voluptatem.
                </p>
            </div>
            <div>
                <h2 class="h3">.text__small</h2>
                <p class="text__small padding background__muted">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Soluta eum commodi dolore itaque sed magni cum illum,
                    laboriosam eaque voluptatem.
                </p>
            </div>
            <!-- Lead -->
            <div>
                <h2 class="h3">.text__lead</h2>
                <p class="text__lead padding background__muted">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Soluta eum commodi dolore itaque sed magni cum illum,
                    laboriosam eaque voluptatem.
                </p>
            </div>
            <!-- Meta -->
            <div>
                <h2 class="h3">.text__meta</h2>
                <p class="text__meta padding background__muted">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Soluta eum commodi dolore itaque sed magni cum illum,
                    laboriosam eaque voluptatem.
                </p>
            </div>
            <!-- Bold -->
            <div>
                <h2 class="h3">.text__bold</h2>
                <p class="text__bold padding background__muted">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Soluta eum commodi dolore itaque sed magni cum illum,
                    laboriosam eaque voluptatem.
                </p>
            </div>
            <!-- Transform -->
            <div>
                <h2 class="h3">.text__uppercase</h2>
                <p class="text__uppercase padding background__muted">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Soluta eum commodi dolore itaque sed magni cum illum,
                    laboriosam eaque voluptatem.
                </p>
            </div>
            <div>
                <h2 class="h3">.text__capitalize</h2>
                <p class="text__capitalize padding background__muted">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Soluta eum commodi dolore itaque sed magni cum illum,
                    laboriosam eaque voluptatem.
                </p>
            </div>
            <div>
                <h2 class="h3">.text__lowercase</h2>
                <p class="text__lowercase padding background__muted">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Soluta eum commodi dolore itaque sed magni cum illum,
                    laboriosam eaque voluptatem.
                </p>
            </div>
            <!-- Alignment -->
            <div class="grid__auto">
                <div>
                    <h2 class="h3">.text__left</h2>
                    <p class="text__left padding background__muted">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Soluta eum commodi dolore itaque sed magni cum illum,
                        laboriosam eaque voluptatem.
                    </p>
                </div>
                <div>
                    <h2 class="h3">.text__center</h2>
                    <p class="text__center padding background__muted">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Soluta eum commodi dolore itaque sed magni cum illum,
                        laboriosam eaque voluptatem.
                    </p>
                </div>
                <div>
                    <h2 class="h3">.text__right</h2>
                    <p class="text__right padding background__muted">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Soluta eum commodi dolore itaque sed magni cum illum,
                        laboriosam eaque voluptatem.
                    </p>
                </div>
            </div>
            <!-- Vertical Alignment -->
            <div>
                <h2 class="h3">.text__top</h2>
                <p class="padding background__muted">
                    <img src="/images/bg.jpg" alt="" width="100" />
                    <span class="text__top"
                        >Lorem, ipsum dolor sit amet consectetur adipisicing
                        elit.
                    </span>
                </p>
                <h2 class="h3">.text__middle</h2>
                <p class="padding background__muted">
                    <img src="/images/bg.jpg" alt="" width="100" />
                    <span class="text__middle"
                        >Lorem, ipsum dolor sit amet consectetur adipisicing
                        elit.
                    </span>
                </p>
                <h2 class="h3">.text__bottom</h2>
                <p class="padding background__muted">
                    <img src="/images/bg.jpg" alt="" width="100" />
                    <span class="text__bottom"
                        >Lorem, ipsum dolor sit amet consectetur adipisicing
                        elit.
                    </span>
                </p>
            </div>
            <!-- Colors -->
            <div>
                <h2 class="h3">.text__primary</h2>
                <p class="text__primary padding background__muted">
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                    Libero laudantium optio quod facilis aspernatur minima amet
                    ab inventore tenetur maxime.
                </p>
            </div>
            <div>
                <h2 class="h3">.text__muted</h2>
                <p class="text__muted padding background__muted">
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                    Libero laudantium optio quod facilis aspernatur minima amet
                    ab inventore tenetur maxime.
                </p>
            </div>
            <!-- Wrap -->
            <div class="grid__auto">
                <div>
                    <h2 class="h3">.text__truncate</h2>
                    <div class="padding background__muted">
                        <p class="text__truncate">
                            Lorem ipsum dolor sit amet consectetur adipisicing
                            elit. Soluta eum commodi dolore itaque sed magni cum
                            illum, laboriosam eaque voluptatem.
                        </p>
                    </div>
                </div>
                <div>
                    <h2 class="h3">.text__break</h2>
                    <p class="text__break padding background__muted">
                        Loremipsumdolorsitametconsecteturadipisicingelit.Solutaeumcommodidoloreitaquesedmagnicumillum,laboriosameaquevoluptatem.
                    </p>
                </div>
            </div>
        </div>
    </section>
</template>

<script>
export default {
    name: 'TextPage'
}
</script>
<style lang="css" scoped>
.grid__auto {
    --auto-grid-min-size: 20rem;
}
</style>
