<template>
    <transition name="fade">
        <div v-show="isOpen" class="modal" role="dialog">
            <transition name="slide">
                <div v-show="isOpen" ref="ModalBody" class="modal__body">
                    <slot></slot>
                </div>
            </transition>
            <transition name="fade">
                <div
                    v-show="isOpen"
                    class="modal__overlay"
                    @click.prevent="close()"
                ></div>
            </transition>
        </div>
    </transition>
</template>

<script>
export default {
    name: 'BaseModal',
    props: {
        modal: {
            type: String,
            default: 'basic-modal'
        }
    },
    data() {
        return {
            isOpen: false,
            delay: 500
        }
    },
    created() {
        this.$root.$on(this.modal, this.open)
    },
    methods: {
        open() {
            this.isOpen = true
            this.$disableBodyScroll(this.$refs.ModalBody, {
                reserveScrollBarGap: true
            })
        },
        close() {
            this.isOpen = false
            setTimeout(() => {
                this.$clearAllBodyScrollLocks()
            }, this.delay)
        }
    }
}
</script>

<style lang="css">
/* Variables */
.modal {
    --modal-color: var(--global-color);
    --modal-background: var(--global-background);
    --modal-width: 600px;
    --modal-padding: var(--global-padding-medium);
    --modal-body-padding: var(--global-padding);
}

.modal,
.modal__overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.modal {
    overflow-y: scroll;
    padding: var(--modal-padding) var(--modal-body-padding);
    z-index: 1000;
}

.modal__body {
    position: relative;
    box-sizing: border-box;
    margin: 0 auto;
    width: var(--modal-width);
    max-width: 100%;
    padding: var(--modal-body-padding);
    background-color: var(--modal-background);
    z-index: 1;
    -webkit-overflow-scrolling: touch;
}

.modal__overlay {
    background-color: var(--global-background-secondary);
    opacity: 0.3;
}

.fade-enter-active,
.fade-leave-active {
    transition: opacity 0.3s;
}
.fade-enter,
.fade-leave-to {
    opacity: 0;
}

.slide-enter-active,
.slide-leave-active {
    transition: 0.5s;
    transition-property: transform, opacity;
}

.slide-enter {
    transform: translateY(-100px);
}

.slide-leave-to {
    transform: translateY(-100px);
}
</style>
