<template>
    <div class="navbar__container">
        <div class="container">
            <nav class="navbar">
                <div class="navbar__left">
                    <nuxt-link to="/" class="navbar__item navbar__logo"
                        >logo</nuxt-link
                    >
                </div>
                <div class="navbar__right">
                    <ul class="navbar__nav visible@m">
                        <base-dropdown tag="li" align="right">
                            <a class="navbar__item" href="#">Components</a>
                            <template v-slot:dropdown-content>
                                <div class="padding background__default">
                                    <ul class="nav">
                                        <li
                                            v-for="(item, i) in menu"
                                            :key="i"
                                            tag="li"
                                        >
                                            <nuxt-link
                                                :to="item.path"
                                                class="nav__item"
                                                >{{ item.name }}</nuxt-link
                                            >
                                        </li>
                                    </ul>
                                </div>
                            </template>
                        </base-dropdown>
                    </ul>

                    <button
                        class="navbar__item button button__link hidden@m"
                        @click.prevent="$root.$emit('offcanvas-toggle')"
                    >
                        Menu
                    </button>
                </div>
            </nav>
        </div>
    </div>
</template>

<script>
export default {
    name: 'AppNavbar',
    components: {
        BaseDropdown: () => import('@/components/BaseDropdown')
    },
    props: {
        menu: {
            type: Array,
            default: () => []
        }
    }
}
</script>

<style lang="css">
.navbar__container {
    background: var(--global-background-muted);
}

/* Variables */
.navbar {
    /* Item Font */
    --navbar-item-font-size: var(--text-base-size);
    --navbar-item-font-weight: 600;
    --navbar-item-height: 50px;

    /* Item Color */
    --navbar-item-color: color-mod(var(--global-link-color) lightness(67%));
    --navbar-item-color-hover: var(--global-link-color);
    --navbar-item-color-active: color-mod(
        var(--global-link-color) lightness(50%)
    );

    /* Item Padding */
    --navbar-item-padding-horizontal: var(--global-padding);

    /* Logo */
    --navbar-logo-font-size: var(--text-l);
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar__right,
.navbar__left {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar__left {
    margin-left: calc(var(--navbar-item-padding-horizontal) * -1);
    margin-right: calc(var(--navbar-item-padding-horizontal) * -1);
}

.navbar__right {
    margin-left: auto;
    margin-right: calc(var(--navbar-item-padding-horizontal) * -1);
}

.navbar__nav {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

/* Item */
.navbar__item {
    font-size: var(--navbar-item-font-size);
    font-weight: var(--navbar-item-font-weight);
    text-transform: uppercase;
    color: var(--navbar-item-color);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: var(--navbar-item-height);
    padding: 0 var(--navbar-item-padding-horizontal);
    transition: 0.3s ease;
    transition-property: color, filter;
}

/* Hover + Focus */
.navbar__item:hover,
.navbar__item:focus {
    outline: none;
    color: var(--navbar-item-color-hover);
}

.navbar__nav .navbar__item::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: var(--navbar-item-padding-horizontal);
    right: var(--navbar-item-padding-horizontal);
    height: 0.2em;
    transform-origin: bottom right;
    transform: scaleX(0);
    transition: 0.5s ease;
    transition-property: transform, background-color;
}

.navbar__nav .navbar__item:hover::before,
.navbar__nav .navbar__item:focus::before {
    transform-origin: bottom left;
    transform: scaleX(1);
}

.navbar__nav .navbar__item:hover::before,
.navbar__nav .navbar__item:focus::before {
    background-color: var(--navbar-item-color-hover);
}

/* Active */

.navbar__item:active,
.navbar__item.active {
    color: var(--navbar-item-color-active);
}

.navbar__nav .navbar__item.active::before {
    transform-origin: bottom left;
    transform: scaleX(1);
    background-color: var(--navbar-item-color-active);
}

/* Logo */
.navbar__logo {
    font-size: var(--navbar-logo-font-size);
    font-weight: bold;
    text-transform: uppercase;
}

.navbar__logo::before {
    display: none;
}
</style>
